.margin {
    padding-bottom: 20px;
    padding-left: 15px;
}

.raps-logo {
    /* border-radius: 50%; */
    height: 50px;
    width: 125px;
    margin: 4px;
}

#navbar {
    margin-top: 10px;
}

.icon-content {
    border: 1px solid rgb(105, 103, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}
